*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0f0f0f;
}

html, body{
  font-family: "Roslindale Display Codensed";
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

/* Optional: Style the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track transparent */
}